services:
  postgres_dw:
    image: postgres:15-alpine
    container_name: postgres_container
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data # Store data in the database for dont lost when turn off the computer
      - ./datasets:/datasets:ro  # Map datasets to run the COPY command on postgres

volumes:
  postgres_data:
